.form_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form_child {
  width: 500px;
  height: 500px;
  border: 1px solid orangered;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
}
.form_child input {
  border: none;
  border-bottom: 1px solid orange;
}
.or {
  color: orangered;
}
.or::before,
.or::after {
  content: " * ";
  flex: 1 1;
  margin: auto;
}
.social_signup button {
  border: 1px solid tomato !important;
}
