.footer-container {
  background: linear-gradient(127deg, #463a3acb 100%, transparent 50%),
    url("../../../images/5.jpg");
  background-size: cover;
  /* background-position: center; */
}
.copyright {
  background-color: rgb(19, 14, 14);
}
